.hidden-cell {
    position: relative;
    background-color: red;
    box-shadow: 0 0 20px red;
    opacity: 0;
    animation-name: appearCell;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.hidden-cell.active {
    animation-name: appearCell;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes appearCell {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}